.title{
    font-size: 60px;
    color: #000;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.about-us__information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us__article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 30px;
    padding: 0 20px;
    border: solid 1px #000;
    text-align: center;

    @media screen and (max-width: $resolucion-large) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: none;
        
    }

    &--text {
        width: 50%;
        padding: 10%;
        text-align: center;
        font-size: large;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: $resolucion-smaller) {
            width: 100%;
            padding: 5%;
            text-align: center;
        }

        @media screen and (max-width: $resolucion-large) {
            width: 100%;
            padding: 20%;
            text-align: center;
        }
            

    }

    &--image {
        width: 100%;
        padding: 0 20px;

        @media screen and (max-width: $resolucion-smaller) {
            display: none;
        }
    }

}