* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  display: flex;
  flex-direction: column;
  overflow-wrap: normal;
  justify-content: center;
  width: 100%;
}

a {
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 1rem;
}

.flex__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 1rem;
  margin: 25%;
}
@media screen and (max-width: 920px) {
  .flex__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 1rem;
  }
}
.flex__form label {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}
@media screen and (max-width: 560px) {
  .flex__form label {
    font-size: smaller;
    font-weight: bold;
    text-align: center;
  }
}
.flex__form input {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}
@media screen and (max-width: 560px) {
  .flex__form input {
    font-size: smaller;
    font-weight: bold;
    text-align: center;
  }
}
.flex__form textarea {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}
@media screen and (max-width: 560px) {
  .flex__form textarea {
    font-size: smaller;
    font-weight: bold;
    text-align: center;
  }
}

/* principio estilizado header */
.header__flex {
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
}
@media screen and (max-width: 768px) {
  .header__flex {
    flex-direction: column;
    justify-content: center;
  }
}

.nav__flex {
  width: 100vw;
}
@media (max-width: 768px) {
  .nav__flex {
    width: auto;
  }
}
.nav__flex ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0.9rem;
}
@media (max-width: 768px) {
  .nav__flex ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.nav__flex ul li {
  color: white;
  font-size: larger;
  font-weight: bold;
}
.nav__flex ul li a {
  color: rgb(255, 255, 255);
  font-size: larger;
  font-weight: bold;
}
.nav__flex ul li a:hover {
  color: rgb(243, 228, 13);
  text-decoration: none;
}
@media screen and (768px) {
  .nav__flex ul li a {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.flex__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  background-color: rgb(0, 0, 0);
  color: white;
  flex-wrap: wrap;
}
.flex__footer--item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  margin: 1%;
}

i {
  color: white;
}

.flex__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
.flex__main h1 {
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}
.flex__main h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}

.main__image-form {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .main__image-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }
}

.image__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 1rem;
}
@media (max-width: 920px) {
  .image__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 1rem;
  }
}
@media (max-width: 560px) {
  .image__container {
    display: none;
  }
}

.title {
  font-size: 60px;
  color: #000;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.about-us__information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us__article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 30px;
  padding: 0 20px;
  border: solid 1px #000;
  text-align: center;
}
@media screen and (max-width: 920px) {
  .about-us__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
.about-us__article--text {
  width: 50%;
  text-align: center;
  font-size: large;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 560px) {
  .about-us__article--text {
    width: 80%;
    text-align: center;
  }
}
@media screen and (max-width: 1200px) {
  .about-us__article--text {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 2800px) {
  .about-us__article--text {
    width: 100%;
    text-align: center;
    padding: 5%;
    margin: 5%;
  }
}
.about-us__article--image {
  width: 30%;
  height: 30%;
}
@media screen and (max-width: 920px) {
  .about-us__article--image {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50%;
    margin: 25%;
  }
}
.about-us__article--banner {
  width: 100%;
  height: 100%;
}

.carousel__description {
  color: black;
}

.multimedia__video {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .multimedia__video {
    flex-direction: column;
  }
}

iframe {
  width: 50%;
  height: 50%;
  margin: 0.5rem;
}
@media screen and (max-width: 768px) {
  iframe {
    width: 100%;
    height: 100%;
  }
}

.title {
  text-align: center;
}

.subtitle {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.main__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.main__image:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .main__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 1rem;
    margin: 1rem;
  }
}
@media (max-width: 560px) {
  .main__image {
    display: none;
  }
}

.pokedex__body {
  background-color: red;
}

.pokedex__display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  padding: 1rem;
}
@media (max-width: 560px) {
  .pokedex__display {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 1rem;
  }
}

.pokemon__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.pokemon__card:hover {
  transform: scale(1.1);
}
.pokemon__card--name {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}
.pokemon__card--image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}
@media screen and (max-width: 1200px) {
  .pokemon__card--image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 1rem;
    margin: 1rem;
  }
}
.pokemon__card--description {
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=styles.css.map */
